.center{
    text-align: center;
}

.jumbotron{
    background-color: darkgrey;
    color: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:darkgrey;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{

    flex: 1 150px;
    padding: 20px 25px 150px 25px ;
    margin-top: 10px;

}

.btn-reserva{

    width: 100%;
    
}

